$heading-font-size: 50px;
$sub-heading-font-size: 35px;

$footer-font: 'Nueva Std';
$heading-font: 'Raleway', Helvetica, Arial, sans-serif;
$sub-heading-font: 'Goudy Bookletter 1911', Georgia, Times, serif;

$footer-header-color: white;
$nav-hover: black;